services:
  docker:
    image: docker.io/library/docker:dind@sha256:6a58fe0da3d9c36bae9adb37ec6af8cb07b5a1d02aa72ae5ad370d7ecbafdfcd
    environment:
      DOCKER_TLS_CERTDIR: /certs
    networks:
      - docker
    privileged: true
    pull_policy: always
    volumes:
      - docker-certs-ca:/certs/ca
      - docker-certs-client:/certs/client
      - docker-lib:/var/lib/docker

  vscode-server:
    image: ghcr.io/jd1048576/dev-container:latest
    environment:
      DOCKER_CERT_PATH: /certs/client
      DOCKER_HOST: tcp://docker:2376
      DOCKER_TLS_VERIFY: 1
    networks:
      - docker
    ports:
      - 8080:8080
    pull_policy: always
    volumes:
      - docker-certs-client:/certs/client:ro
      - vscode-cache:/home/nonroot/.cache
      - vscode-data:/home/nonroot/.local/share/code-server
      - vscode-workspace:/home/nonroot/workspace
      - ${HOME:-${USERPROFILE}}/.gitconfig:/home/nonroot/.gitconfig
      - ${HOME:-${USERPROFILE}}/.kube:/home/nonroot/.kube
      - ${HOME:-${USERPROFILE}}/.ssh:/home/nonroot/.ssh

networks:
  docker:

volumes:
  docker-certs-ca:
  docker-certs-client:
  docker-lib:
  vscode-cache:
  vscode-data:
  vscode-workspace:
